@import "tailwindcss";

@theme {
  --color-snaf-green: #21686E;
  --color-snaf-orange: #E1682D;
  --color-snaf-yellow: #FACB22;
  --color-background: #ffffff;
  --color-foreground: #171717;
  
  --font-serif: var(--font-lora);
  --font-sans: var(--font-nunito-sans);

  --animate-fade-in: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Base styles */
body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
}
